{% include 'header.html' %}
<script type="text/javascript">
  $(function() {

    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2050"
    });
  });
  
</script>
<script type="text/javascript">
  

var rowNum = 0;
var c=1;
window.onload = function() {
  
    $("#itemUsers").hide();
  
};
$(document).ready(function(){
  $("#hide").click(function(){
    $("#itemUsers").hide();
  });
  $("#hide2").click(function(){
    $("#itemUsers").hide();
  });
  $("#show").click(function(){
    $("#itemUsers").show();
  });
});

function addRow() {
rowNum ++;

var row = '<label  class=" control-label"><p  id="rowNum'+rowNum+'">Enter Username : </label><input  class="form-control form-group"  type="text" value="" name="'+c+'" required="required" /><input type="hidden" value=" '+c+'" name="count" /><input type="button" value="Remove This User " class="btn-sm btn-warning " onclick="removeRow('+rowNum+');"></p>';
jQuery('#itemRows').append(row);
c ++;
}

function removeRow(rnum) {
jQuery('#rowNum'+rnum).remove();
}
</script>
<body>
<!-- Profile -->
<div class="container target">
      
    <div class="row" style="overflow:scroll;height:400px;" >
        <div class="row profile_bg">
        <div class="col-sm-10">
        <br><br>
          <center>
              <h1 class="">Dashboard</h1>
            </center>
        </div>
      
    </div>
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">

                <a href="/dashboard/"><li class=" list-group-item" contenteditable="false"><strong>Home</strong></li></a>
                <a href="/dashboard/share/"><li class="active list-group-item" contenteditable="false"><strong>File Share</strong></li></a>
                                
            </ul>
        </div>    
        <div class="verticalSpace">
        <div class="col-md-8">
        {% if error  %}
        
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Oopz!</strong> 
            {{error}}
        </div>
           
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Hurrah!</strong> 
             {{success}}
        </div>
        </div>
        
        {% endif %} 
              <DIV >
                 <form class="form-horizontal" role="form" action="/dashboard/share/" method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                            
                <div class="col-sm-8">  
                    <div class="form-group">
                                      <div class="col-sm-5">
                                        <label for="inputEmail3" class=" control-label">User Permissions</label>
                                      </div>
                                      <div>
                                      <p>

                                  <input type="radio"  id="hide"  required="required" value='onlyme' name="permission">Only Me
                                  <input type="radio"  id="hide2"  required="required" value='public' name="permission">Public
                                  <input type="radio"  id="show"  required="required" value='share' name="permission">Share with users
                                    
                                          <button type="submit" class="btn btn-success" >Update Permission</button>
                               </p>     
                                  </div>
                                    
                                     <div class="col-sm-8 " id="itemUsers">
                                              <input onclick="addRow(); " type="button" value="Add a User " class="btn btn-default" />                                        
                                      </div>
                                    
                                      <div   id="itemRows">
                                      </div>
                                    
                                    
                </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
               
                  </form>
              </DIV>

        </div>
        
     </div>
</div>

<!-- End -->

</body>
{% include 'footer.html' %}
